<div *ngIf="userDataUser" class="flex h-screen w-full bg-gray-100 justify-center">
  <div class="w-full bg-white rounded-2xl shadow-lg p-6">
    <div class="flex justify-between space-x-6">
      <div>
        <h2 class="text-3xl font-semibold text-gray-800">{{userDataUser.firstName}} {{userDataUser.lastName}}</h2>
        <p class="text-gray-600">{{userDataUser.email}}</p>
      </div>
      <div>
        <button class="m-4 p-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">
          <fa-icon [icon]="faUser" class="px-1"></fa-icon>
          Edit Profile
        </button>
        <button (click)="logoutUser()" class="m-4 p-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">
          <fa-icon [icon]="faSignOutAlt" class="px-1"></fa-icon>
          Logout
        </button>
      </div>
    </div>

    <div class="mt-6 border-t pt-6">
      <h3 class="text-xl font-semibold text-gray-800">Personal Information</h3>
      <div class="mt-4 grid grid-cols-2 gap-4">
        <div>
          <p class="text-gray-600 font-medium">Phone</p>
          <p class="text-gray-800">{{userDataUser.phoneNum}}</p>
        </div>
        <div>
          <p class="text-gray-600 font-medium">Birthdate</p>
          <p class="text-gray-800">{{userDataUser.birthDate}}</p>
        </div>
      </div>
    </div>

    <div class="mt-6 border-t pt-6">
      <h3 class="text-xl font-semibold text-gray-800">Order information</h3>
      <div class="mt-4 grid grid-cols-2 gap-4">
        <div>
          <p class="text-gray-600 font-medium">Address</p>
          <p class="text-gray-800">New York, USA</p>
        </div>
      </div>
    </div>
  </div>
</div>
