<div class="min-h-screen bg-gray-100">
  <!-- Navbar -->
  <nav class="bg-white shadow-md p-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold text-gray-800">Gadget Galaxy</h1>
    <div class="flex space-x-4 items-center">
      <a href="/cart" class="px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">
        <fa-icon [icon]="faShoppingCart" class="px-1"></fa-icon>
        Cart
      </a>

      <!-- Saját fiók dropdown -->
      <div class="relative inline-block text-left">
        <button (click)="accountDropdown = !accountDropdown" class="flex items-center px-4 py-2 bg-gray-800 text-white rounded-lg hover:bg-gray-900">
          <fa-icon [icon]="faUser" class="px-1"></fa-icon>
          Account
        </button>

        <div *ngIf="accountDropdown" class="absolute right-0 mt-2 w-64 origin-top-right rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10">
          <div *ngIf="!userDataUser">
            <div class="flex p-4 justify-around items-center">
              <h2>You are not logged in!</h2>
            </div>
            <div class="flex p-4 justify-between items-center">
              <a href="/login" class="">
                <fa-icon [icon]="faSignInAlt" class="px-1"></fa-icon>
                Login
              </a>
              <a href="/register" class="">
                <fa-icon [icon]="faUserPlus" class="px-1"></fa-icon>
                Register
              </a>
            </div>
          </div>
          <div *ngIf="userDataUser">
            <div class="flex p-4 justify-around items-center">
              <h2>Welcome <b>{{userDataUser.username}}!</b></h2>
            </div>
            <div class="flex justify-around items-center">
              <a href="/profile" class="px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">
                <fa-icon [icon]="faHome" class="px-1"></fa-icon>
                Profile
              </a>
            </div>
            <div class="flex p-4 justify-around items-center">
              <button (click)="logoutUser()">
                <fa-icon [icon]="faSignInAlt" class="px-1"></fa-icon>
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <!-- Search, Filter & Sort Bar -->
  <div class="p-6 max-w-5xl mx-auto flex justify-between items-center space-x-4">
    <div *ngIf="categoriesIsLoading">Loading categories...</div>
    <div *ngIf="categoriesError">{{ categoriesError }}</div>
    <input (input)="searchProduct()" [(ngModel)]="searchInput" type="text" placeholder="Search for products..." class="w-2/4 px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500">
    <select (change)="searchProduct()" [(ngModel)]="searchCategory" class="px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500">
      <option value="">Category</option>
      <option *ngFor="let category of categoriesList" [value]="category">{{category}}</option>
    </select>
    <select (change)="sortProducts()" [(ngModel)]="searchSort" class="px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500">
      <option value="">Sort By</option>
      <option value="0">Price: Low to High</option>
      <option value="1">Price: High to Low</option>
      <option value="2">Price: A to Z</option>
      <option value="3">Price: Z to A</option>
    </select>
  </div>

  <!-- Products -->
  <div class="p-6 max-w-5xl mx-auto">
    <h2 class="text-xl font-semibold text-gray-800 mb-4">Products</h2>
    <div class="grid grid-cols-3 gap-6">
      <div *ngIf="productsIsLoading">Loading products...</div>
      <div *ngIf="productsError">{{ productsError }}</div>

      <div class="bg-white p-4 rounded-lg shadow-lg" *ngFor="let product of productsList">
        <img src="http://localhost:8080/api/productImage/{{product.id}}" class="w-full h-40 object-cover rounded-md">
        <h3 class="mt-2 font-semibold">{{product.name}}</h3>
        <div class="flex justify-between items-center mt-2">
          <span class="text-gray-500">Price {{product.price}}</span>
          <span class="text-gray-500">#: {{product.amount}}</span>

        </div>
        <p class="text-gray-600">{{product.description}}</p>
        <div *ngIf="successMessage" class="fixed bottom-4 right-4 bg-green-500 text-white py-2 px-4 rounded-lg shadow-lg">
          {{ successMessage }}
        </div>
        <!-- Quantity Input -->
        <div class="flex justify-between items-center mt-2">
          <button (click)="addProduct(product.id)" class="bg-blue-600 text-white py-2 px-4 rounded-lg">Add to Cart</button>
          <input [(ngModel)]="amount" type="number" min="1" class="w-16 text-center border rounded-lg ml-2" placeholder="1" />
        </div>
      </div>
    </div>
  </div>
</div>
