<div *ngIf="userDataUser" class="min-h-screen bg-gray-100 p-6">
  <!-- Cart Header -->
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl font-bold text-gray-800">Shopping Cart</h1>
    <button
      class="px-4 py-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700"
      (click)="this.router.navigate(['/'])">
      Back
    </button>
  </div>

  <!-- Cart Items -->
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-4xl mx-auto">
    <table class="w-full text-left border-collapse">
      <thead>
      <tr>
        <th class="p-3 border-b">Product</th>
        <th class="p-3 border-b">Price</th>
        <th class="p-3 border-b">Quantity</th>
        <th class="p-3 border-b"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td class="p-3 border-b">{{product.name}}</td>
        <td class="p-3 border-b">{{product.price}} Ft</td>
        <td class="p-3 border-b">{{product.amount}}</td>
        <td class="p-3 border-b">
          <button class="m-4 p-2 bg-red-500 text-white rounded-lg hover:bg-red-600">
            <fa-icon [icon]="faTrashCan" (click)="deleteProduct(product.id)" class="px-1"></fa-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Cart Summary -->
    <div class="mt-6 flex justify-between items-center">
      <h2 class="text-xl font-semibold">Total: {{ getTotal() }} Ft</h2>

      <button class="px-6 py-3 bg-green-600 text-white rounded-lg hover:bg-green-700">Proceed to Checkout</button>
    </div>
  </div>
</div>
